
@{
    ViewBag.Title = "Üye Girişi";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom">
            <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt="NorthwindShop" /></a>
            <h1 class="display-4" style="text-align:center">Üye Girişi</h1>

        </div>

        <div class="clear"></div>
    </div><br />

</div>
<hr />
<h5 style="text-align:center;color:royalblue">@TempData["CreateAccount"]</h5>
<div class="wrap">
    <div class="col_1_of_login span_1_of_login">
        <h4 class="title">Üye Ol</h4>
        <div class="button1">
            <a href="@Url.Action("NewCustomer","Login")"><input type="submit" name="Submit" value="Hesap Oluştur"></a>
        </div>
        <p>Henüz bir hesabınız yok mu? Hemen bir hesap oluşturun!</p><br /><br />

        <div class="clear"></div><br />
        <h4 class="title">Mağaza Girişi</h4>
        <div class="button1">
            <a href="@Url.Action("Admin","Login")"><input type="submit" name="Submit" value="Mağaza Girişi"></a>
        </div>
        <p>Gelen siparişlere göz atın ve ürünlerinizi yönetin.</p><br /><br />

    </div>
    <div class="col_1_of_login span_1_of_login">
        <div class="login-title">
            <h4 class="title">Giriş Yap</h4>
            <div id="loginbox" class="loginbox">
                <form action="@Url.Action("Index","Login")" method="post" name="loginUser" id="login-form">
                    <fieldset class="input">
                        <p id="login-form-username">
                            <label for="modlgn_username">Müşteri ID:</label>
                            <input id="modlgn_username" type="text" name="customerID" class="inputbox" size="18">
                        </p>
                        <p id="login-form-password">
                            <label for="modlgn_passwd">Şifre:</label>
                            <input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18">
                        </p>
                        <div class="remember">
                            <h5 class="text-danger">@ViewBag.LoginMessage</h5>
                            <input type="submit" name="Submit" class="button" value="Giriş Yap"><div class="clear"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>

</div>
<br /><br /><br />
