@model NorthwindMarket.Models.Entities.Employees

@{
    ViewBag.Title = "Üye Ol";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="header-bottom">
    <div class="wrap">
        <div class="header-bottom">
            <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt="NorthwindShop" /></a>
            <h1 class="display-4" style="text-align:center">Hesap Oluştur</h1>
        </div>

        <div class="clear"></div>
    </div><br />
</div>
<hr />
<div class="wrap">
    @using (Html.BeginForm("NewEmployee", "Login", FormMethod.Post))
    {
        <div class="col_1_of_login span_1_of_login">
            <h4 class="title">Adres Bilgileri</h4>
            @Html.LabelFor(x => x.Address)
            @Html.TextAreaFor(x => x.Address, new { @class = "form-control", value = "Açık Adres" })
            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.City)
            @Html.TextBoxFor(x => x.City, "", new { @class = "form-control", placeholder = "Şehir" })
            @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.Region)
            @Html.TextBoxFor(x => x.Region, "", new { @class = "form-control", placeholder = "Bölge" })
            @Html.ValidationMessageFor(x => x.Region, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.PostalCode)
            @Html.TextBoxFor(x => x.PostalCode, "", new { @class = "form-control", placeholder = "Posta Kodu" })
            @Html.ValidationMessageFor(x => x.PostalCode, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.Country)
            @Html.TextBoxFor(x => x.Country, "", new { @class = "form-control", placeholder = "Ülke" })
            @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.HomePhone)
            @Html.TextBoxFor(x => x.HomePhone, "", new { @class = "form-control", placeholder = "Telefon", type="tel" })
            @Html.ValidationMessageFor(x => x.HomePhone, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.HomePhone)
            @Html.TextBoxFor(x => x.HomePhone, "", new { @class = "form-control", placeholder = "Fax" })
            @Html.ValidationMessageFor(x => x.HomePhone, "", new { @class = "text-danger" })
            <br />
            <p>Adres bilgilerinizi boş geçerek daha sonra hesap ayarlarından değiştirebilirsiniz.</p>
        </div>

        <div class="col_1_of_login span_1_of_login">
            <h4 class="title">Yönetici Bilgileri</h4>
            @Html.LabelFor(x => x.FirstName)*
            @Html.TextBoxFor(x => x.FirstName, "", new { @class = "form-control", placeholder = "Ad" })
            @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.LastName)*
            @Html.TextBoxFor(x => x.LastName, "", new { @class = "form-control", placeholder = "Soyad" })
            @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
            <br />

            @Html.LabelFor(x => x.Notes)*
            @Html.TextBoxFor(x => x.Notes, "", new { @class = "form-control", placeholder = "Hakkımda" })
            @Html.ValidationMessageFor(x => x.Notes, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.Title)*
            @Html.TextBoxFor(x => x.Title, "", new { @class = "form-control", placeholder = "Meslek" })
            @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.BirthDate)*
            @Html.TextBoxFor(x => x.BirthDate, "", new { @class = "form-control", placeholder = "Doğum Tarihi", type = "date" })
            @Html.ValidationMessageFor(x => x.BirthDate, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.HireDate)*
            @Html.TextBoxFor(x => x.HireDate, "", new { @class = "form-control", placeholder = "İşe Giriş Tarihi", type = "date" })
            @Html.ValidationMessageFor(x => x.HireDate, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.UserName)* <p style="float:right">(Kullanıcı Adı alanı 5 karakter olmalıdır.)</p>
            @Html.TextBoxFor(x => x.UserName, "", new { @class = "form-control", placeholder = "Kullanıcı Adı", maxlength = 5 })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
            <br />
            @Html.LabelFor(x => x.Password)*
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Şifre" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
            <br />
            <h5 class="text-danger">@ViewBag.CreateAccount</h5>
            <input type="submit" class="btn btn-success btn-lg btn-block" style="float:right;" />
            <div class="clear"></div>
        </div>

    }
    <div class="clear"></div>
</div>


