@using NorthwindMarket.Models
@model CompleteOrderViewModel
@{
    Layout = null;
    double totalprice = 0;

}

<!DOCTYPE HTML>
<html>
<head>
    <title>Northwind Shop - Siparişi Tamamla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/favicon.ico" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/js/jquery1.min.js"></script>
    <!-- start menu -->
    <link href="~/Content/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/megamenu.js"></script>
    <script>$(document).ready(function () { $(".megamenu").megamenu(); });</script>
    <!--start slider -->
    <link rel="stylesheet" href="~/Content/css/fwslider.css" media="all">
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <script src="~/Content/js/css3-mediaqueries.js"></script>
    <script src="~/Content/js/fwslider.js"></script>
    <!--end slider -->
    <script src="~/Content/js/jquery.easydropdown.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>

    <div class="header-top">
        <div class="wrap">
            <div class="cssmenu">


                <ul class="icon1 sub-icon1 profile_img" style="margin-top:10px">
                    <li>
                        <a class="btn btn-info" href="@Url.Action("Index","User")">Hesabım (@Session["user"])</a>
                        <ul class="sub-icon1 list">
                            <li><a href="@Url.Action("Index","User")"><h3>Hesabım</h3></a></li>
                            <li><a href="@Url.Action("Orders","User")"><h3>Siparişlerim</h3></a></li>
                            <li><a href="@Url.Action("UserInfo","User")"><h3>Kullanıcı Bilgilerim</h3></a></li>
                            <li><a href="@Url.Action("AddressInfo","User")"><h3>Adres Bilgilerim</h3></a></li>
                            <li><a href="javascript:void(0);" class="changePassword"><h3>Şifre Değiştir</h3></a></li>
                            <li><a href="@Url.Action("Logout","User")"><h3>Çıkış Yap</h3></a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="icon1 sub-icon1 profile_img" style="margin-top:10px;padding-left:0px;">
                    <li><a class="btn btn-secondary" href="@Url.Action("Logout", "User")">Çıkış Yap</a></li>
                </ul>


            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt="NorthwindShop" /></a>
                </div>

            </div>
            <div class="header-bottom-right">
                <div class="search">
                    <form action="@Url.Action("Search","Home")">
                        <input type="text" name="value" class="textbox" value="Ürün ara..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ürün ara...';}">
                        <input type="submit" value="Ara" id="submit" name="submit">
                    </form>
                    <div id="response"> </div>
                </div>
                <div class="tag-list" id="partialCart">
                    <ul class="icon1  profile_img">
                        <li class="sub-icon1 list">
                            <a class="active-icon c2" href="@Url.Action("Index", "Cart")"> </a>
                            <a href="@Url.Action("Index", "Cart")" id="cartCount" style="color:black;text-decoration:none;">Sepet (@Model.ShoppingCart.Keys.Count())</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="clear"></div>
        </div><br />

        <ul class="megamenu skyblue">
            <li class="grid"><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></li>
            <li class="grid"><a href="@Url.Action("Index", "Cart")">Sepetim</a></li>
            <li class="grid"><a href="@Url.Action("Orders","User")">Siparişlerim</a></li>
            <li class="grid"><a href="@Url.Action("Index","User")">Hesabım</a></li>
        </ul>

    </div>
    <div class="login">
        <div class="wrap">
            <div class="cont span_2_of_3">
                <h5 class="display-6" style="text-align:center;">Alışverişi Tamamla</h5><hr />
                <br />

                <table class="table table-bordered" style="background-color:#f7f7f7;">
                    <tr>
                        <th></th>
                        <th>Ürün Adı</th>
                        <th>Ürün Detayı</th>
                        <th>Miktar</th>
                        <th>Birim Fiyat</th>
                        <th>Toplam Tutar</th>
                    </tr>
                    <tbody id="tbody">
                        @foreach (var item in Model.ShoppingCart)
                        {
                            <tr class="carttr">

                                <td><a href="@Url.Action("Product","Home",new {id=item.Key.ProductID })"><img src="~/Content/images/product.jpg" alt="@item.Key.ProductName" style="width:100px;height:100px" /></a></td>
                                <td><a href="@Url.Action("Product","Home",new {id=item.Key.ProductID })" style="color:black;text-decoration:none;">@item.Key.ProductName</a></td>
                                <td><a href="@Url.Action("Product","Home",new {id=item.Key.ProductID })" style="color:black;text-decoration:none;">@item.Key.QuantityPerUnit</a></td>
                                @{
                                    double unitPrice = Convert.ToDouble(item.Key.UnitPrice);

                                    double price = unitPrice * item.Value;
                                }
                                <td>@item.Value Adet</td>
                                <td class="unitPrice">$@unitPrice.ToString("#,##0.00")</td>

                                <td class="totalPrice">$@price.ToString("#,##0.00")</td>
                            </tr>
                            totalprice += price;
                        }
                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col">
                        <div class="card" style="background-color:#f7f7f7;">
                            <div class="card-header"><h6>Gönderim Adresi</h6></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="card-text">Adres: <strong>@Model.User.Address</strong></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Şehir: <strong>@Model.User.City</strong></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Ülke: <strong>@Model.User.Country</strong></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Bölge: <strong>@Model.User.Region</strong></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Posta Kodu: <strong>@Model.User.PostalCode</strong></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Telefon: <strong>@Model.User.Phone</strong></p>
                                    </div>
                                    <div class="col-sm-3">
                                        <p class="card-text">Faks: <strong>@Model.User.Fax</strong></p>
                                    </div>
                                </div>
                                <a href="@Url.Action("AddressInfo","User")" class="btn btn-secondary" style="float:right">Güncelle</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        @using (Html.BeginForm("CompleteOrder", "Cart", FormMethod.Post))
                        {
                            <div class="card" style="background-color:#f7f7f7;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h6>
                                                Gönderici Seç: <br /><br />@Html.DropDownListFor(x => x.EmployeeID, Model.SelectSeller, "Bir gönderici seçin.")<br /><br />
                                                @Html.ValidationMessageFor(x => x.EmployeeID, "", new { @class = "text-danger" })
                                            </h6>
                                        </div>
                                        <div class="col">
                                            <h6>
                                                Kargo Firması Seç: <br /><br />@Html.DropDownListFor(x => x.ShipperID, Model.SelectShipper, "Kargo firması seçin.", new { id = "selectShipper" })<br /><br />
                                                @Html.ValidationMessageFor(x => x.ShipperID, "", new { @class = "text-danger" })
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card" style="background-color:#f7f7f7;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col"><h4 style="text-align:center;" id="totalAmountComplete">Ödenecek Tutar: $@totalprice</h4></div>
                                        <div class="col"><input type="submit" class="btn btn-primary" style="width:100%;" value="Sipariş Ver" /></div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="rsidebar span_1_of_left">
        <div class="top-border"> </div>
        <div class="border">
            <link href="~/Content/css/default.css" rel="stylesheet" type="text/css" media="all" />
            <link href="~/Content/css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
            <script src="~/Content/js/jquery.nivo.slider.js"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('#slider').nivoSlider();
                });
            </script>
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="~/Content/images/t-img1.jpg" alt="" />
                    <img src="~/Content/images/t-img2.jpg" alt="" />
                    <img src="~/Content/images/t-img3.jpg" alt="" />
                </div>
            </div>
            <div class="btn"><a href="@Url.Action("About","Home")">Hakkımızda</a></div>
        </div>

    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="section group example">
                    <div class="col_1_of_2 span_1_of_2">
                        <ul class="f-list">
                            <li><img src="~/Content/images/2.png"><span class="f-text">$100 VE ÜZERİ SİPARİŞLERDE ÜCRETSİZ KARGO</span><div class="clear"></div></li>
                        </ul>
                    </div>
                    <div class="col_1_of_2 span_1_of_2">

                        <div class="social-media">
                            <ul>
                                <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="javascript:void(0);"> </a></span></li>

                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="https://www.linkedin.com/in/tar%C4%B1k-ayd%C4%B1n-1083a6212/" target="_blank"> </a> </span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="GitHub"><a href="https://github.com/trkaydn" target="_blank"> </a></span></li>
                                <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="https://www.facebook.com/tarik1846/" target="_blank"> </a></span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="wrap">
                <div class="copy">
                    <p>Copyright © 2021 Tarık Aydın - Tüm hakları saklıdır.</p>
                </div>
                <div class="f-list2">
                    <ul>
                        <li><a href="@Url.Action("About","Home")">| Hakkımızda |</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/test.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/js/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

